In [1]:
import sqlite3
import pandas as pd

%load_ext sql

In [2]:
%sql sqlite:///ons.db

'Connected: None@ons.db'

## <u>Create Tables:</u>

#### 1) Inventory 

#### 2) Location

#### 3) Calendar

#### 4) Contact

#### 5) Sales

In [3]:
%%sql
CREATE TABLE Inventory(
    ItemID INTEGER NOT NULL PRIMARY KEY,
    DCS TEXT,
    Style TEXT,
    Category TEXT,
    ColorDes TEXT,
    Size TEXT,
    Season TEXT,
    RetailPrice INTEGER NOT NULL DEFAULT 0,
    Cost INTEGER NOT NULL DEFAULT 0);

Done.

[]

In [4]:
%%sql
CREATE TABLE Location(
    LocationID REAL NOT NULL PRIMARY KEY,
    LocationName TEXT,
    Channel TEXT,
    Type TEXT);

Done.

[]

In [5]:
%%sql
CREATE TABLE Calendar(
    Date TEXT NOT NULL PRIMARY KEY,
    WeekCode INTEGER NOT NULL DEFAULT 0,
    WeekNo INTEGER NOT NULL DEFAULT 0,
    MonthNo INTEGER NOT NULL DEFAULT 0,
    Month TEXT NOT NULL DEFAULT 0,
    MonthWeek TEXT NOT NULL DEFAULT 0,
    Quarter INTEGER NOT NULL DEFAULT 0,
    Year INTEGER NOT NULL DEFAULT 0, 
    YearMonth TEXT NOT NULL DEFAULT 0,
    SSSeas TEXT NOT NULL DEFAULT 0);

Done.

[]

In [6]:
%%sql
CREATE TABLE Contact(
    CustomerID INTEGER NOT NULL PRIMARY KEY, 
    FirstName TEXT,
    LastName TEXT,
    CustomerEmail TEXT);

Done.

[]

In [17]:
%%sql
CREATE TABLE Sales (
    LocationID TEXT NOT NULL,
    ItemID INTEGER NOT NULL,
    Date TEXT NOT NULL,
    CustomerEmail TEXT,
    OrderName TEXT NOT NULL,
    SaleKind TEXT NOT NULL,
    StaffName TEXT,
    Discounts INTEGER NOT NULL DEFAULT 0,
    NetSales INTEGER NOT NULL DEFAULT 0,
    Shipping INTEGER NOT NULL DEFAULT 0,
    Tax INTEGER NOT NULL DEFAULT 0, 
    NetQuantity INTEGER NOT NULL DEFAULT 0,
    FOREIGN KEY (LocationID) REFERENCES Location (LocationID),
    FOREIGN KEY (ItemID) REFERENCES Inventory (ItemID),
    FOREIGN KEY (Date) REFERENCES Calendar (Date),
    FOREIGN KEY (CustomerEmail) REFERENCES Customer (CustomerEmail));

Done.

[]

## Check tables

In [8]:
%%sql
pragma table_info('Location')

Done.

[(0, 'LocationID', 'REAL', 1, None, 1),
 (1, 'LocationName', 'TEXT', 0, None, 0),
 (2, 'Channel', 'TEXT', 0, None, 0),
 (3, 'Type', 'TEXT', 0, None, 0)]

In [9]:
%%sql
pragma table_info('Inventory')

Done.

[(0, 'ItemID', 'INTEGER', 1, None, 1),
 (1, 'DCS', 'TEXT', 0, None, 0),
 (2, 'Style', 'TEXT', 0, None, 0),
 (3, 'Category', 'TEXT', 0, None, 0),
 (4, 'ColorDes', 'TEXT', 0, None, 0),
 (5, 'Size', 'TEXT', 0, None, 0),
 (6, 'Season', 'TEXT', 0, None, 0),
 (7, 'RetailPrice', 'INTEGER', 1, '0', 0),
 (8, 'Cost', 'INTEGER', 1, '0', 0)]

In [10]:
%%sql
pragma table_info('Contact')

Done.

[(0, 'CustomerID', 'INTEGER', 1, None, 1),
 (1, 'FirstName', 'TEXT', 0, None, 0),
 (2, 'LastName', 'TEXT', 0, None, 0),
 (3, 'CustomerEmail', 'TEXT', 0, None, 0)]

In [11]:
%%sql 
pragma table_info ('Sales')

Done.

[(0, 'LocationID', 'TEXT', 1, None, 0),
 (1, 'ItemID', 'INTEGER', 1, None, 0),
 (2, 'Date', 'TEXT', 1, None, 0),
 (3, 'CustomerEmail', 'TEXT', 0, None, 0),
 (4, 'OrderName', 'TEXT', 1, None, 0),
 (5, 'SaleKind', 'TEXT', 1, None, 0),
 (6, 'Discounts', 'INTEGER', 1, '0', 0),
 (7, 'NetSales', 'INTEGER', 1, '0', 0),
 (8, 'Shipping', 'INTEGER', 1, '0', 0),
 (9, 'Tax', 'INTEGER', 1, '0', 0),
 (10, 'NetQuantity', 'INTEGER', 1, '0', 0)]

In [12]:
%%sql
pragma table_info('Calendar')

Done.

[(0, 'Date', 'TEXT', 1, None, 1),
 (1, 'WeekCode', 'INTEGER', 1, '0', 0),
 (2, 'WeekNo', 'INTEGER', 1, '0', 0),
 (3, 'MonthNo', 'INTEGER', 1, '0', 0),
 (4, 'Month', 'TEXT', 1, '0', 0),
 (5, 'MonthWeek', 'TEXT', 1, '0', 0),
 (6, 'Quarter', 'INTEGER', 1, '0', 0),
 (7, 'Year', 'INTEGER', 1, '0', 0),
 (8, 'YearMonth', 'TEXT', 1, '0', 0),
 (9, 'SSSeas', 'TEXT', 1, '0', 0)]