In [1]:
import sqlite3
import pandas as pd

%load_ext sql

In [2]:
%sql sqlite:///ons.db

'Connected: None@ons.db'

In [3]:
#create connection
conn=sqlite3.connect('ons.db')

In [4]:
#improt calendar data 
df_calendar= pd.read_csv('Calendar2017.csv')
sql_location= df_calendar.to_sql('Calendar', conn, if_exists='replace', index=False);

In [11]:
%%sql
SELECT * FROM Calendar limit 25;

Done.

[('1/1/2017', 201649, 49, 1, 'JAN', '1-1', 'Q4', 2016, '2016-1', 'SS16'),
 ('1/2/2017', 201649, 49, 1, 'JAN', '1-1', 'Q4', 2016, '2016-1', 'SS16'),
 ('1/3/2017', 201649, 49, 1, 'JAN', '1-1', 'Q4', 2016, '2016-1', 'SS16'),
 ('1/4/2017', 201649, 49, 1, 'JAN', '1-1', 'Q4', 2016, '2016-1', 'SS16'),
 ('1/5/2017', 201649, 49, 1, 'JAN', '1-1', 'Q4', 2016, '2016-1', 'SS16'),
 ('1/6/2017', 201649, 49, 1, 'JAN', '1-1', 'Q4', 2016, '2016-1', 'SS16'),
 ('1/7/2017', 201649, 49, 1, 'JAN', '1-1', 'Q4', 2016, '2016-1', 'SS16'),
 ('1/8/2017', 201650, 50, 1, 'JAN', '1-2', 'Q4', 2016, '2016-1', 'SS16'),
 ('1/9/2017', 201650, 50, 1, 'JAN', '1-2', 'Q4', 2016, '2016-1', 'SS16'),
 ('1/10/2017', 201650, 50, 1, 'JAN', '1-2', 'Q4', 2016, '2016-1', 'SS16'),
 ('1/11/2017', 201650, 50, 1, 'JAN', '1-2', 'Q4', 2016, '2016-1', 'SS16'),
 ('1/12/2017', 201650, 50, 1, 'JAN', '1-2', 'Q4', 2016, '2016-1', 'SS16'),
 ('1/13/2017', 201650, 50, 1, 'JAN', '1-2', 'Q4', 2016, '2016-1', 'SS16'),
 ('1/14/2017', 201650, 50, 1, 'JAN', '1-2', 'Q4', 2016, '2016-1', 'SS16'),
 ('1/15/2017', 201651, 51, 1, 'JAN', '1-3', 'Q4', 2016, '2016-1', 'SS16'),
 ('1/16/2017', 201651, 51, 1, 'JAN', '1-3', 'Q4', 2016, '2016-1', 'SS16'),
 ('1/17/2017', 201651, 51, 1, 'JAN', '1-3', 'Q4', 2016, '2016-1', 'SS16'),
 ('1/18/2017', 201651, 51, 1, 'JAN', '1-3', 'Q4', 2016, '2016-1', 'SS16'),
 ('1/19/2017', 201651, 51, 1, 'JAN', '1-3', 'Q4', 2016, '2016-1', 'SS16'),
 ('1/20/2017', 201651, 51, 1, 'JAN', '1-3', 'Q4', 2016, '2016-1', 'SS16'),
 ('1/21/2017', 201651, 51, 1, 'JAN', '1-3', 'Q4', 2016, '2016-1', 'SS16'),
 ('1/22/2017', 201652, 52, 1, 'JAN', '1-4', 'Q4', 2016, '2016-1', 'SS16'),
 ('1/23/2017', 201652, 52, 1, 'JAN', '1-4', 'Q4', 2016, '2016-1', 'SS16'),
 ('1/24/2017', 201652, 52, 1, 'JAN', '1-4', 'Q4', 2016, '2016-1', 'SS16'),
 ('1/25/2017', 201652, 52, 1, 'JAN', '1-4', 'Q4', 2016, '2016-1', 'SS16')]

In [6]:
#improt location data 

df_location= pd.read_csv('Location.csv')
sql_locations= df_location.to_sql('Location', conn, if_exists='append', index=False);

In [7]:
%%sql
SELECT * FROM Location

Done.

[('R01', 'Soho Concept Store', 'Retail', 'Store'),
 ('R02', 'King Street', 'Retail', 'Store'),
 ('E01', 'ONS.com', 'Ecom', 'Store')]

In [8]:
#improt Inventory data 

df_inventory= pd.read_csv('Inventory.csv')
sql_inventory= df_inventory.to_sql('Inventory', conn, if_exists='append', index=False);

In [12]:
%%sql
SELeCT * FROM Inventory limit 25;

Done.

[(31703, 'MENDNMPNT', 'MDM7260A', 'Pants', 'DK.VINTAGE', '28/30', 'FW16', 98, 40),
 (31704, 'MENDNMPNT', 'MDM7260A', 'Pants', 'DK.VINTAGE', '29/30', 'FW16', 98, 40),
 (31705, 'MENDNMPNT', 'MDM7260A', 'Pants', 'DK.VINTAGE', '30/30', 'FW16', 98, 40),
 (31706, 'MENDNMPNT', 'MDM7260A', 'Pants', 'DK.VINTAGE', '31/30', 'FW16', 98, 40),
 (31707, 'MENDNMPNT', 'MDM7260A', 'Pants', 'DK.VINTAGE', '32/30', 'FW16', 98, 40),
 (31708, 'MENDNMPNT', 'MDM7260A', 'Pants', 'DK.VINTAGE', '30/32', 'FW16', 98, 40),
 (31709, 'MENDNMPNT', 'MDM7260A', 'Pants', 'DK.VINTAGE', '31/32', 'FW16', 98, 40),
 (31710, 'MENDNMPNT', 'MDM7260A', 'Pants', 'DK.VINTAGE', '32/32', 'FW16', 98, 40),
 (31711, 'MENDNMPNT', 'MDM7260A', 'Pants', 'DK.VINTAGE', '33/32', 'FW16', 98, 40),
 (31712, 'MENDNMPNT', 'MDM7260A', 'Pants', 'DK.VINTAGE', '34/32', 'FW16', 98, 40),
 (31713, 'MENDNMPNT', 'MDM7260A', 'Pants', 'MD.WASH', '28/30', 'FW16', 98, 40),
 (31714, 'MENDNMPNT', 'MDM7260A', 'Pants', 'MD.WASH', '29/30', 'FW16', 98, 40),
 (31715, 'MENDNMPNT', 'MDM7260A', 'Pants', 'MD.WASH', '30/30', 'FW16', 98, 40),
 (31716, 'MENDNMPNT', 'MDM7260A', 'Pants', 'MD.WASH', '31/30', 'FW16', 98, 40),
 (31717, 'MENDNMPNT', 'MDM7260A', 'Pants', 'MD.WASH', '32/30', 'FW16', 98, 40),
 (31718, 'MENDNMPNT', 'MDM7260A', 'Pants', 'MD.WASH', '30/32', 'FW16', 98, 40),
 (31719, 'MENDNMPNT', 'MDM7260A', 'Pants', 'MD.WASH', '31/32', 'FW16', 98, 40),
 (31720, 'MENDNMPNT', 'MDM7260A', 'Pants', 'MD.WASH', '32/32', 'FW16', 98, 40),
 (31721, 'MENDNMPNT', 'MDM7260A', 'Pants', 'MD.WASH', '33/32', 'FW16', 98, 40),
 (31722, 'MENDNMPNT', 'MDM7260A', 'Pants', 'MD.WASH', '34/32', 'FW16', 98, 40),
 (31723, 'MENDNMPNT', 'MDM7260B', 'Pants', 'DK.WASH', '28/30', 'FW16', 98, 40),
 (31724, 'MENDNMPNT', 'MDM7260B', 'Pants', 'DK.WASH', '29/30', 'FW16', 98, 40),
 (31725, 'MENDNMPNT', 'MDM7260B', 'Pants', 'DK.WASH', '30/30', 'FW16', 98, 40),
 (31726, 'MENDNMPNT', 'MDM7260B', 'Pants', 'DK.WASH', '31/30', 'FW16', 98, 40),
 (31727, 'MENDNMPNT', 'MDM7260B', 'Pants', 'DK.WASH', '32/30', 'FW16', 98, 40)]

In [10]:
#import Contact data 

df_contact= pd.read_csv('Contacts.csv')
sql_contact= df_contact.to_sql('Contact', conn, if_exists='append', index=False);

In [13]:
%%sql
SELECT * FROM Contact limit 25;

Done.

[(1000001, 'A', 'Fazenbaker', 'subterfuge.adagio@hotmail.com'),
 (1000002, 'A R', 'Mangano', 'armangano@hotmail.com'),
 (1000003, 'Aaron', 'Wallach', 'lanickers@hotmail.com'),
 (1000004, 'Aaron', 'Diep', 'Phantdiep@yahoo.com'),
 (1000005, 'aaron', 'mall', 'aaron.mall@hotmail.com'),
 (1000006, 'Aaron', 'Franklin', 'Aaron.franklin86@gmail.com'),
 (1000007, 'Aaron', 'Fox', 'aaronfoxstocks@yahoo.com'),
 (1000008, 'Aaron', 'Austin', 'aaronaphoto@gmail.com'),
 (1000009, 'aaron', 'reck', 'areck2004@yahoo.com'),
 (1000010, 'Abby', 'Mortenson', 'Abby.mortenson@gmail.com'),
 (1000011, 'Abdullah', 'Aldubaib', 'bodi-v@hotmail.com'),
 (1000012, 'Abe', 'Baginsky', 'abelbabel@gmail.com'),
 (1000013, 'Abi', 'Grafals', 'biibs88@gmail.com'),
 (1000014, 'Abigail', 'Teran', 'abisd718@yahoo.com'),
 (1000015, 'Abigail', 'Alleman', 'alleman.abigail@gmail.com'),
 (1000016, 'Abraham', 'Garcia', 'bossabx3@aol.com'),
 (1000017, 'Abu', 'Nasar', 'nasirn82@gmail.com'),
 (1000018, 'Acecia', 'Jones', 'kieshjones@gmail.com'),
 (1000019, 'Adam', 'Rentschler', 'rentschlerh@gmail.com'),
 (1000020, 'Adam', 'Gracz', 'agracz@email.unc.edu'),
 (1000021, 'Adam', 'Brodsky', 'applecrispy9@gmail.com'),
 (1000022, 'Adam', 'KUBRY', 'akubry@gmail.com'),
 (1000023, 'Adam', 'Rekerdres', 'rek.mail@gmail.com'),
 (1000024, 'Adam', 'Sohn', 'asohn@imscg.com'),
 (1000025, 'Adam', 'Jarnell', 'gurutogoats@gmail.com')]

In [14]:
#improt Sales data 
df_sales= pd.read_csv('Sales.csv')
sql_sales= df_sales.to_sql('Sales', conn, if_exists='append', index=False);

In [14]:
%%sql
SELeCT * FROM Sales limit 25;

Done.

[('E-01', 0, '9/15/2017', 'JGRUSHACK@GMAIL.COM', '#ONS2669', 'order', 0, 0, 6.96, 0.62, 0),
 ('E-01', 33728, '9/15/2017', 'JGRUSHACK@GMAIL.COM', '#ONS2669', 'order', -64, 64, 0, 5.68, 1),
 ('E-01', 34015, '9/15/2017', 'JGRUSHACK@GMAIL.COM', '#ONS2669', 'order', -64, 64, 0, 5.68, 1),
 ('E-01', 35924, '9/19/2017', 'byun21@gmail.com', '#ONS2670', 'order', -131.25, 743.75, 0, 0, 7),
 ('E-01', 0, '9/19/2017', 'byun21@gmail.com', '#ONS2670', 'order', 0, 0, 25.15, 0, 0),
 ('E-01', 34020, '9/19/2017', 'streetcroci1@gmail.com', '#ONS2671', 'order', -64, 64, 0, 0, 1),
 ('E-01', 0, '9/19/2017', 'streetcroci1@gmail.com', '#ONS2671', 'order', 0, 0, 9.22, 0, 0),
 ('E-01', 35454, '9/20/2017', 'michael@motivesny.com', '#ONS2672', 'order', 0, 438, 0, 38.87, 1),
 ('E-01', 0, '9/20/2017', 'michael@motivesny.com', '#ONS2672', 'order', 0, 0, 0, 0, 0),
 ('E-01', 35690, '9/23/2017', 'Brandon.L.Cohn@gmail.com', '#ONS2673', 'order', 0, 88, 0, 7.81, 1),
 ('E-01', 0, '9/23/2017', 'Brandon.L.Cohn@gmail.com', '#ONS2673', 'order', 0, 0, 0, 0, 0),
 ('E-01', 35545, '9/23/2017', 'Brandon.L.Cohn@gmail.com', '#ONS2673', 'order', 0, 128, 0, 11.36, 1),
 ('E-01', 33476, '9/25/2017', 'seymour.cameron7@gmail.com', '#ONS2674', 'order', 0, 24, 0, 0, 1),
 ('E-01', 33471, '9/25/2017', 'seymour.cameron7@gmail.com', '#ONS2674', 'order', 0, 24, 0, 0, 1),
 ('E-01', 0, '9/25/2017', 'seymour.cameron7@gmail.com', '#ONS2674', 'order', 0, 0, 9.22, 0, 0),
 ('E-01', 0, '9/26/2017', 'mtodisco10@gmail.com', '#ONS2676', 'order', 0, 0, 6.96, 0.62, 0),
 ('E-01', 0, '9/26/2017', 'kurtwesleybrown@gmail.com', '#ONS2675', 'order', 0, 0, 28.89, 0, 0),
 ('E-01', 35084, '9/26/2017', 'kurtwesleybrown@gmail.com', '#ONS2675', 'order', -14.7, 83.3, 0, 0, 1),
 ('E-01', 35091, '9/26/2017', 'kurtwesleybrown@gmail.com', '#ONS2675', 'order', -14.7, 83.3, 0, 0, 1),
 ('E-01', 34558, '9/26/2017', 'mtodisco10@gmail.com', '#ONS2676', 'order', 0, 84, 0, 7.46, 1),
 ('E-01', 34013, '9/26/2017', 'mtodisco10@gmail.com', '#ONS2676', 'order', 0, 64, 0, 5.67, 1),
 ('E-01', 0, '10/1/2017', 'brian.chung1013@gmail.com', '#ONS2677', 'order', 0, 0, 0, 0, 0),
 ('E-01', 34462, '10/1/2017', 'brian.chung1013@gmail.com', '#ONS2677', 'order', 0, 94, 0, 0, 1),
 ('E-01', 35191, '10/1/2017', 'brian.chung1013@gmail.com', '#ONS2677', 'order', 0, 128, 0, 0, 1),
 ('E-01', 35541, '10/8/2017', 'robert.h.pritchard@gmail.com', '#ONS2678', 'order', 0, 128, 0, 11.36, 1)]